@CHARSET "UTF-8";

.alert {
    border: 1px solid;
}

.alert-success {
    background-color: #5da423;
    border-color: #457a1a;
    color: white;
}

.alert-error {
    background-color: #c60f13;
    border-color: #970b0e;
    color: #ffffff;
}