<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
</head>
<body>
    <h1>Todo List</h1>
    <div id="todoForm">
        <form action="#" th:action="@{/create}" th:object="${todoForm}" method="post">
            <input type="text" th:field="*{todoTitle}"/>
            <button type="submit">Create Todo</button>
        </form>
    </div>
    <hr />
    <div id="todoList">
        <ul>
            <li th:each="todo : ${todos}">
                <span th:text="${todo.todoTitle}"></span>
            </li>
        </ul>
    </div>
</body>
</html>